{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- static css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Home page</title>
</head>


<body class="bg_hospital_image">

    <!-- Navbar -->
    <nav class="navbar nav_bg nav_text">
        <nav class="nav">
            <!-- Navs -->
            {% for href,nav in navs %}
            <a class="navbar-brand active nav_bg nav_text" href="{{ href }}"> {{ nav }} </a>
            {% endfor %}

        </nav>
    </nav>

    <!-- Alert message -->
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <!-- News/Posts -->
    <div class="card mx-auto w-75 py-3 my-2 border border-primary">
        <p class="font-weight-normal px-3 nav_bg nav_text">News</p>
        {% for n in news %}
        <div class="card mx-auto w-75 my-2">
            <div class="card-body border border-dark">
                <h5 class="card-title">{{ n.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ n.date }}</h6>
                <p class="card-text">{{ n.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
