{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- static css -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <title>APPOINTMENTS</title>
</head>


<body class="text-center">

    <!-- Navbar -->
    <nav class="navbar nav_bg nav_text">
        <nav class="nav">
            <!-- Navs -->
            {% for href,nav in navs %}
            <a class="navbar-brand active nav_bg nav_text" href="{{ href }}"> {{ nav }} </a>
            {% endfor %}
        </nav>
    </nav>

    <!-- text heading -->
    <div class="text-center">
        <div class="alert alert-info" role="alert">
            MAKE AN APPOINTMENT
        </div>
    </div>

    <!-- Alert Message -->
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <!-- Form -->
    <div class="card mx-auto w-75 p-3 mb-2 border border-primary">
        <form class="form" action="handle_appointments" method="POST"> {% csrf_token %}
            <img class="mb-2" src="{% static 'images/tree.jpg' %}" class="autoimage" width="300px" height="300px">
            <div class="form-group">
                <select name="option" id="option" required>
                    {% for o in opt %}
                    <option value="{{o}}"> {{ o }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="illness" name="illness" class="form-control" placeholder="Illness" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="issue" name="issue" rows="3" placeholder="Issue" required></textarea>
            </div>

            <button class="btn btn-sm btn-primary btn-block" type="submit">Submit</button>

        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
