{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
    <!-- static css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar nav_bg nav_text">
        <nav class="nav">
            <!-- Navs -->
            {% for href,nav in navs %}
            <a class="navbar-brand active nav_bg nav_text" href="{{ href }}"> {{ nav }} </a>
            {% endfor %}
        </nav>
    </nav>

    <!-- Heading -->
    <h4 class="text-center">Payments Currently Not Accepted</h4>

</body>
</html>
